.login{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: url(../images/27.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.L{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.L a{
	font-size: 15px;
}

.i{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: calc(50% - 50px);
}
.login h1{
	color: #fff;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login p{
	margin: 0;
	padding: 0;
	font-weight: 800;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login input[type="submit"]{
	border-bottom: none;
	outline: none;
	height: 40px;
	background: #fc6b03;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.login a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.login a:hover{
	color: #fcc107;

}